<section class="dark-background ps-2 rounded-2 ">
  <h1 class="text-white mx-2  py-3">About Me !</h1>


 <div class="w-75 mx-auto py-3 ">
  <p class="py-4 gray-text about px-2">
    Hi, I'm a passionate <strong>Frontend Developer</strong> based in Alexandria, Egypt.
    I specialize in creating dynamic, responsive web applications using <strong>Angular, HTML, CSS, JavaScript, and TypeScript</strong>.
    With a solid foundation in <strong>CSS frameworks</strong> such as Angular Material, Bootstrap, PrimeNG, and Tailwind CSS,
    I strive to deliver intuitive and engaging user experiences.
  </p>

  <p class="py-4 gray-text about px-2">
    My development journey includes a comprehensive course at <strong>Route Academy</strong>,
    and I've built several projects, ranging from e-commerce platforms to note-taking apps and quiz applications,
    using <strong>modern web technologies</strong>. Whether it's working with <strong>APIs, authentication, or optimizing performance</strong>,
    I enjoy tackling challenges and continuously expanding my skillset.
  </p>


  <p class="py-4 gray-text about px-2">
    Outside of coding, I hold a <strong>Bachelor's degree in Commerce (Accounting)</strong>, and I'm fluent in both
    <strong>Arabic</strong> (native) and <strong>English</strong>. When I'm not coding, I love exploring new technologies and
    contributing to open-source projects.
  </p>


  <div class="py-3">
    <h3 class="text-white head">Skills  </h3>

   <div class="row">
    <div class="col-md-6">
      <p class="gray-text ms-3">-HTML</p>
      <p class="gray-text ms-3">-CSS</p>
      <p class="gray-text ms-3">-JavaScript</p>
      <p class="gray-text ms-3">-TypeScript  </p>
      <p class="gray-text ms-3">-Angular  </p>
    </div>
    <div class="col-md-6">
      <p class="gray-text ms-3">-JQuery   </p>
      <p class="gray-text ms-3">-Sass  </p>
      <p class="gray-text ms-3">-Bootstrap </p>
      <p class="gray-text ms-3">-Tailwind  </p>
      <p class="gray-text ms-3">-Angular Matrial  </p>
      <p class="gray-text ms-3">-PrimeNg  </p>
    </div>

   </div>




  </div>



 </div>















</section>
