<section class="dark-background ps-2 rounded-2 ">
  <h1 class="text-white mx-2  py-3">About Me !</h1>
<div class="py-3">
  <h3 class="text-white head">Experience</h3>
  <h6 class="text-center text-white">Route Academy </h6>
  <p class="gray-text">- Proficiency in Angular Framework</p>
  <p class="gray-text">- Experience with TypeScript, HTML, and CSS</p>
  <p class="gray-text">- Understanding of RESTful APIs</p>
  <p class="gray-text">- Development of Responsive Web Applications</p>
  <p class="gray-text">- Knowledge of Component-Based Architecture</p>
  <p class="gray-text">- Implementation of Unit and End-to-End Testing</p>
</div>

<div class="py-3">
  <h3 class="text-white head">Education </h3>
  <h6 class="text-center text-white">Alexandria University </h6>
  <p class="gray-text">Bachelor of Commerce</p>
  <p class="gray-text ms-3">-  Accounting Department</p>
  <p class="gray-text ms-3">-     Grade : Fair</p>
</div>

<div class="py-3">
  <h3 class="text-white head">Skills  </h3>

 <div class="row">
  <div class="col-md-6">
    <p class="gray-text ms-3">-HTML</p>
    <p class="gray-text ms-3">-CSS</p>
    <p class="gray-text ms-3">-JavaScript</p>
    <p class="gray-text ms-3">-TypeScript  </p>
    <p class="gray-text ms-3">-Angular  </p>
  </div>
  <div class="col-md-6">
    <p class="gray-text ms-3">-JQuery   </p>
    <p class="gray-text ms-3">-Sass  </p>
    <p class="gray-text ms-3">-Bootstrap </p>
    <p class="gray-text ms-3">-Tailwind  </p>
    <p class="gray-text ms-3">-Angular Matrial  </p>
    <p class="gray-text ms-3">-PrimeNg  </p>
  </div>

 </div>




</div>

</section>
