
<section class="dark-background rounded-2 ">
 <div class="container py-5">
  <div class="d-flex justify-content-between align-items-center">
    <p class="gray-text ms-3">Hi There !</p>
    <div class="heartbeat circle  d-flex justify-content-center align-items-center">
      <i class="fa-solid fa-code green-text fs-4"></i>
   </div>
  </div>

  <h1 class="white-text home-title">I'am a <span class="green-text">Frontend</span> Developer<br>
     <span class="green-text">&</span> Web Designer </h1>
    <div class=" py-4  contact ">
      <p class="gray-text "><span class="green-text mx-2"><i class="fa-solid fa-location-dot"></i></span>Egypt , Alexandria</p>
      <p class="gray-text">
        <span class="green-text mx-2"><i class="fa-regular fa-envelope"></i></span>
        {{ 'Ahmedsaadallah19982@gmail.com' }}
      </p>
      <p class="gray-text  "><span class="green-text mx-2"><i class="fa-solid fa-phone"></i></span>+201212518190</p>
    </div>
    <pre class="gray-text  te">{{ htmlContent }}</pre>
 </div>
</section>


