
<section class="dark-background rounded-2 h-100">
 <div class="container py-5">
  <p class="gray-text ms-3">Hi There !</p>
  <h1 class="white-text">I'am a <span class="green-text">Frontend</span> Developer
     <span class="green-text">&</span> Web Designer </h1>
    <div class=" py-5  contact">
       <!-- <p class="gray-text"><span class="green-text mx-2"><i class="fa-regular fa-envelope"></i></span>
        Ahmedsaadallah19982@gmail.com
      </p> -->
      <p class="gray-text">
        <span class="green-text mx-2"><i class="fa-regular fa-envelope"></i></span>
        {{ 'Ahmedsaadallah19982@gmail.com' }}
      </p>
      <p class="gray-text "><span class="green-text mx-2"><i class="fa-solid fa-phone"></i></span>01212518190</p>
    </div>
    <pre class="gray-text py-3">{{ htmlContent }}</pre>
 </div>
</section>


