
<div class="container">
  <div class="row g-5 ">
    <div class="col-lg-4 dark-background rounded-2 ">
       <div class="mx-auto">
        <div class="pic mx-auto mt-3">
          <img src="assets/images/me.jpg" alt="Ahmed Saadallah" class="w-100">
        </div>
        <h4 class="white-text text-center">Ahmed Saadallah</h4>
        <p class="gray-text text-center ">Developer <span class="green-text">&</span> Designer</p>
        <div class="d-flex my-3">
          <div class="mx-auto py-1">
          <button class="btn light-green-button text-white"  (click)="goToContact()">Hire Me !</button>
          <a href="assets/CV/Ahmed Saadallah.pdf" class="btn mx-2 gray-text download" download>Download CV</a>
          </div>
        </div>
        <p class="gray-text text-center py-4"> Frontend Developer <br/> Useing Angular Framwork</p>
        <div class="d-flex justify-content-center  py-3">
          <div class="icon d-flex justify-content-center align-items-center  mx-2">
            <a href="https://github.com/AhmedSaadallah15" class="gray-text" target="_blank"> <i class="fa-brands fa-github"></i></a>
          </div>
          <div class="icon d-flex justify-content-center align-items-center mx-2">
           <a  href="https://www.linkedin.com/in/ahmed-saadallah-5633aa166?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app " class="gray-text" target="_blank"> <i class="fa-brands fa-linkedin"></i></a>
          </div>
          <div class="icon d-flex justify-content-center align-items-center mx-2">
            <a  href="https://api.whatsapp.com/send?phone=201212518190 " target="_blank" class="gray-text"> <i class="fa-brands fa-whatsapp"></i></a>

          </div>
          <div class="icon d-flex justify-content-center align-items-center mx-2">
           <a href="https://www.facebook.com/Ahmedmohamed19970?mibextid=LQQJ4d" class="gray-text" target="_blank"> <i class="fa-brands fa-facebook-f"></i></a>
          </div>
        </div>
       </div>
    </div>
    <div class="col-lg-8">
      <app-navbar> </app-navbar>
      <router-outlet> </router-outlet>
    </div>
  </div>
</div>
