<section class="dark-background ps-2 pe-2">
  <h1 class="text-white pb-2 mx-2">Portofilo</h1>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">All</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Angular</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">JS</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#Basics" type="button" role="tab" aria-controls="Basics" aria-selected="false">Basics</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="row py-3 g-3">
        <div class="col-md-4">
          <div class="card position-relative rounded-2" >
            <div class="item ">
            <img src="assets/images/freshCart.jpg" class="card-img-top" alt="FreshCart">
            <div class="layer position-absolute d-flex  align-items-center justify-content-center">
                <a target="_blank" href="https://github.com/AhmedSaadallah15/FreshCart"><i class="fa-brands fa-github green-text fs-3"></i></a>
                <a target="_blank" href="https://ahmedsaadallah15.github.io/FreshCart/#/home"><i class="fa-solid fa-eye green-text fs-3 mx-2"></i></a>
            </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">FreshCart</h5>
              <p class="card-text">Using Angular framework and bootstrap for responsive web design</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card position-relative rounded-2" >
            <div class="item ">
            <img src="assets/images/weatherApp.jpg" class="card-img-top" alt="WeatherApp">
            <div class="layer position-absolute d-flex  align-items-center justify-content-center">
                <a target="_blank" href="https://github.com/AhmedSaadallah15/Weather-App"><i class="fa-brands fa-github green-text fs-3"></i></a>
                <a target="_blank" href="https://ahmedsaadallah15.github.io/Weather-App/"><i class="fa-solid fa-eye green-text fs-3 mx-2"></i></a>
            </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">WeatherApp</h5>
              <p class="card-text">Html,Css,JS call API and bootstrap for responsive web design</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card position-relative rounded-2" >
            <div class="item ">
            <img src="assets/images/party.jpg" class="card-img-top" alt="Party">
            <div class="layer position-absolute d-flex  align-items-center justify-content-center">
                <a target="_blank" href="https://github.com/AhmedSaadallah15/Party"><i class="fa-brands fa-github green-text fs-3"></i></a>
                <a target="_blank" href="https://ahmedsaadallah15.github.io/Party/"><i class="fa-solid fa-eye green-text fs-3 mx-2"></i></a>
            </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Party</h5>
              <p class="card-text">Html,Css,JQuery call API and bootstrap for responsive web design</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card position-relative rounded-2" >
            <div class="item ">
            <img src="assets/images/bookmarker.jpg" class="card-img-top" alt="Bookmarker">
            <div class="layer position-absolute d-flex  align-items-center justify-content-center">
                <a target="_blank" href="https://github.com/AhmedSaadallah15/BookMarker"><i class="fa-brands fa-github green-text fs-3"></i></a>
                <a target="_blank" href="https://ahmedsaadallah15.github.io/BookMarker/"><i class="fa-solid fa-eye green-text fs-3 mx-2"></i></a>
            </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Bookmarker</h5>
              <p class="card-text">Html,Css,JavaScript and bootstrap for responsive web design</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card position-relative rounded-2" >
            <div class="item ">
            <img src="assets/images/dev.jpg" class="card-img-top" alt="devfolio">
            <div class="layer position-absolute d-flex  align-items-center justify-content-center">
                <a target="_blank" href="https://github.com/AhmedSaadallah15/devfolio"><i class="fa-brands fa-github green-text fs-3"></i></a>
                <a target="_blank" href="https://ahmedsaadallah15.github.io/devfolio/"><i class="fa-solid fa-eye green-text fs-3 mx-2"></i></a>
            </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">devfolio</h5>
              <p class="card-text">Html,Css and bootstrap and responsive web design for Portofilo</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card position-relative rounded-2" >
            <div class="item ">
            <img src="assets/images/dan.jpg" class="card-img-top" alt="Daniels">
            <div class="layer position-absolute d-flex  align-items-center justify-content-center">
                <a target="_blank" href="https://github.com/AhmedSaadallah15/Daniels"><i class="fa-brands fa-github green-text fs-3"></i></a>
                <a target="_blank" href="https://ahmedsaadallah15.github.io/Daniels/"><i class="fa-solid fa-eye green-text fs-3 mx-2"></i></a>
            </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Daniels</h5>
              <p class="card-text">Html,Css and bootstrap and responsive web design for Portofilo</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card position-relative rounded-2" >
            <div class="item ">
            <img src="assets/images/customerApp.jpg" class="card-img-top" alt="customerApp">
            <div class="layer position-absolute d-flex  align-items-center justify-content-center">
                <a target="_blank" href="https://github.com/AhmedSaadallah15/customer-app"><i class="fa-brands fa-github green-text fs-3"></i></a>
                <a target="_blank" href="https://ahmedsaadallah15.github.io/customer-app/#/"><i class="fa-solid fa-eye green-text fs-3 mx-2"></i></a>
            </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">customerApp</h5>
              <p class="card-text">Using Angular framework and bootstrap for responsive web design</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card position-relative rounded-2" >
            <div class="item ">
            <img src="assets/images/Fokir.jpg" class="card-img-top" alt="Fokir">
            <div class="layer position-absolute d-flex  align-items-center justify-content-center">
                <a target="_blank" href="https://github.com/AhmedSaadallah15/Fokir"><i class="fa-brands fa-github green-text fs-3"></i></a>
                <a target="_blank" href="https://ahmedsaadallah15.github.io/Fokir/"><i class="fa-solid fa-eye green-text fs-3 mx-2"></i></a>
            </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Fokir</h5>
              <p class="card-text">Frist app html and Css and use media query for responsive</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="row py-3 g-3">
        <div class="col-md-4">
          <div class="card position-relative rounded-2" >
            <div class="item ">
            <img src="assets/images/freshCart.jpg" class="card-img-top" alt="FreshCart">
            <div class="layer position-absolute d-flex  align-items-center justify-content-center">
                <a target="_blank" href="https://github.com/AhmedSaadallah15/FreshCart"><i class="fa-brands fa-github green-text fs-3"></i></a>
                <a target="_blank" href="https://ahmedsaadallah15.github.io/FreshCart/#/home"><i class="fa-solid fa-eye green-text fs-3 mx-2"></i></a>
            </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">FreshCart</h5>
              <p class="card-text">Using Angular framework and bootstrap for responsive web design</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card position-relative rounded-2" >
            <div class="item ">
            <img src="assets/images/customerApp.jpg" class="card-img-top" alt="customerApp">
            <div class="layer position-absolute d-flex  align-items-center justify-content-center">
                <a target="_blank" href="https://github.com/AhmedSaadallah15/customer-app"><i class="fa-brands fa-github green-text fs-3"></i></a>
                <a target="_blank" href="https://ahmedsaadallah15.github.io/customer-app/#/"><i class="fa-solid fa-eye green-text fs-3 mx-2"></i></a>
            </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">customerApp</h5>
              <p class="card-text">Using Angular framework and bootstrap for responsive web design</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <div class="row py-3 g-3">
        <div class="col-md-4">
          <div class="card position-relative rounded-2" >
            <div class="item ">
            <img src="assets/images/weatherApp.jpg" class="card-img-top" alt="WeatherApp">
            <div class="layer position-absolute d-flex  align-items-center justify-content-center">
                <a target="_blank" href="https://github.com/AhmedSaadallah15/Weather-App"><i class="fa-brands fa-github green-text fs-3"></i></a>
                <a target="_blank" href="https://ahmedsaadallah15.github.io/Weather-App/"><i class="fa-solid fa-eye green-text fs-3 mx-2"></i></a>
            </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">WeatherApp</h5>
              <p class="card-text">Html,Css,JS call API and bootstrap for responsive web design</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card position-relative rounded-2" >
            <div class="item ">
            <img src="assets/images/party.jpg" class="card-img-top" alt="Party">
            <div class="layer position-absolute d-flex  align-items-center justify-content-center">
                <a target="_blank" href="https://github.com/AhmedSaadallah15/Party"><i class="fa-brands fa-github green-text fs-3"></i></a>
                <a target="_blank" href="https://ahmedsaadallah15.github.io/Party/"><i class="fa-solid fa-eye green-text fs-3 mx-2"></i></a>
            </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Party</h5>
              <p class="card-text">Html,Css,JQuery call API and bootstrap for responsive web design</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card position-relative rounded-2" >
            <div class="item ">
            <img src="assets/images/bookmarker.jpg" class="card-img-top" alt="Bookmarker">
            <div class="layer position-absolute d-flex  align-items-center justify-content-center">
                <a target="_blank" href="https://github.com/AhmedSaadallah15/BookMarker"><i class="fa-brands fa-github green-text fs-3"></i></a>
                <a target="_blank" href="https://ahmedsaadallah15.github.io/BookMarker/"><i class="fa-solid fa-eye green-text fs-3 mx-2"></i></a>
            </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Bookmarker</h5>
              <p class="card-text">Html,Css,JavaScript and bootstrap for responsive web design</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="Basics" role="tabpanel" aria-labelledby="contact-tab">
      <div class="row py-3 g-3">
        <div class="col-md-4">
          <div class="card position-relative rounded-2" >
            <div class="item ">
            <img src="assets/images/dev.jpg" class="card-img-top" alt="devfolio">
            <div class="layer position-absolute d-flex  align-items-center justify-content-center">
                <a target="_blank" href="https://github.com/AhmedSaadallah15/devfolio"><i class="fa-brands fa-github green-text fs-3"></i></a>
                <a target="_blank" href="https://ahmedsaadallah15.github.io/devfolio/"><i class="fa-solid fa-eye green-text fs-3 mx-2"></i></a>
            </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">devfolio</h5>
              <p class="card-text">Html,Css and bootstrap and responsive web design for Portofilo</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card position-relative rounded-2" >
            <div class="item ">
            <img src="assets/images/dan.jpg" class="card-img-top" alt="Daniels">
            <div class="layer position-absolute d-flex  align-items-center justify-content-center">
                <a target="_blank" href="https://github.com/AhmedSaadallah15/Daniels"><i class="fa-brands fa-github green-text fs-3"></i></a>
                <a target="_blank" href="https://ahmedsaadallah15.github.io/Daniels/"><i class="fa-solid fa-eye green-text fs-3 mx-2"></i></a>
            </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Daniels</h5>
              <p class="card-text">Html,Css and bootstrap and responsive web design for Portofilo</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card position-relative rounded-2" >
            <div class="item ">
            <img src="assets/images/Fokir.jpg" class="card-img-top" alt="Fokir">
            <div class="layer position-absolute d-flex  align-items-center justify-content-center">
                <a target="_blank" href="https://github.com/AhmedSaadallah15/Fokir"><i class="fa-brands fa-github green-text fs-3"></i></a>
                <a target="_blank" href="https://ahmedsaadallah15.github.io/Fokir/"><i class="fa-solid fa-eye green-text fs-3 mx-2"></i></a>
            </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Fokir</h5>
              <p class="card-text">Frist app html and Css and use media query for responsive</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
